.flatpickr-day.selected {
  background: #ffcc00 !important; /* Màu vàng cho ngày được chọn */
  color: black !important;
  border-radius: 50%;
}
.flatpickr-day.inRange {
  background: #ffeb99 !important; /* Màu vàng nhạt cho phạm vi */
  color: black !important;
}
/* .date-picker-container {
  position: relative;
  display: inline-block;
} */
.popup-footer {
  text-align: right;
  padding: 10px;
  border-top: 1px solid #ddd;
}
.popup-footer button {
  margin-left: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.date-picker-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 12px 12px;
  font-size: 14px;
  color: #333;
  width: 225px;
  background-color: white;
  gap: 8px;
  cursor: pointer;
}

.dateRangePicker {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  pointer-events: none;
  background-color: transparent;
}
.gray-out {
  color: rgb(160, 160, 160) !important;
  pointer-events: auto !important;
}
.arrow-down {
  width: 14px;
  height: 14px;
}
